
@{
    ViewBag.Title = "MalzemeListele";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<Malzeme>

<h2> @ViewBag.tarifadi</h2>
<div class="col-lg-12">
    <table>
        <tr>
            <td><h3>Açıklama </h3></td>
        </tr>
        <tr>
            <td> <p> @ViewBag.Aciklama</p></td>
        </tr>

    </table>
   
</div>
<div class="row">
    
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Malzeme Adı</th>
                    <th>Malzeme Ölçümü</th>
                    <th>Malzeme Miktarı </th>
                    <th>Malzeme fiyati </th>

                </tr>
            </thead>
            <tbody>
                @{decimal toplamTutar = 0;}
                @foreach (Malzeme item in Model)
                {
                    <tr>

                        <td>@item.MalzemeAdi</td>
                        <td>@item.MazlemeOlcumu</td>
                        <td>@item.MalzemeMiktari</td>
                        <td>@item.MalzemeTutari</td>
                        @{toplamTutar += item.MalzemeTutari;}




                    </tr>
                }
            </tbody>

            <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Toplam Malzeme Tutar : @toplamTutar</td>
                </tr>
            </tfoot>

        </table>
    </div>

</div>



